.appGraph {
  width: 80%;
  margin: auto;
  padding: 50px;
}

.predictionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conditions {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
