* {
  margin: 0;
  margin-top: 8px;
}

body {
  background-color: #ececec;
}

.app {
  display: flex;
  justify-content: space-evenly;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header h1 {
  color: rgba(204, 16, 52);
}

.select__dropdown {
  color: rgba(204, 16, 52);
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }
}

.app__dropdown {
  background-color: #292929;
  border-color: #3700b3;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
